.appBackground{
    background-image: url('./images/workoutBackgroundProject.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.appTitle {
    color: red;
    text-shadow: 3px 3px black;
    border-bottom-color: blanchedalmond;
    font-family: cursive;
    display: flex;
    justify-content: center;
    letter-spacing: 4px;
    word-spacing: 10px;
}

.textArea1 {
    text-align: center;
    margin-left: 25%;
    background-color: white;
    font-weight: bold;
    font-family: Cursive, Geneva, Tahoma, sans-serif;
    border-color: black;
    border-radius: 15px;
    border-style: solid;
    width: 50%;
}

.dataFields {
    display: flex;
    justify-content: center;
    flex-direction: row;

}

.button {
    background-color: red;
    border: none;
    border-radius: 15px;
    width: 100px;
    height: 50px;
}

.button:hover {
    background-color: rgb(124, 10, 10) 
}

.button:active {
    background-color: rgb(150, 20, 20);
}
nav.mat {
    border: 4px solid rgb(150, 20, 20);
}
li.hot {
    border: 2px solid rgb(150, 20, 20);
}
li.cold {
    border: 2px solid rgb(150, 20, 20);
}
li.pit {
    border: 2px solid rgb(150, 20, 20);
}
li.pot {
    border: 2px solid  rgb(150, 20, 20);
}
li.shot {
    border: 2px solid rgb(150, 20, 20);
}
li.how {
    border: 2px solid rgb(150, 20, 20);
}
li.to {
    border: 2px solid rgb(150, 20, 20);
}
li.car {
    border: 2px solid rgb(150, 20, 20);
}
.mat {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-flow; 
}
.pat {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
.mat, .pat {
    background-color: black;
}
.hot {
    color: white;
}